html {

	padding: 0;
	margin: 0;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 

}

body {

	padding: 0;
	margin: 0;
	background-color: #f2f2f2;

}

div.ribbon {

	background-color: #3f51b5;
	width: 100%;
	height: 300px;

}

article {

	position: relative;
	width: calc(100% - 8px);
	display: block;
	margin: auto;
	z-index: 1;
	background-color: #fff;
	max-width: 1200px;
	min-height: 900px;
	border-radius: 16px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-top: -250px;
	margin-bottom: 50px;
	padding-bottom: 50px;

}

div.profile {

	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: absolute;
	left: 50px;
	top: 50px;
	border: 1px solid #ccc;
	background-image: url(../img/20200223_122542.jpg);
	background-size: 100%;
	background-position: center;

}

h1 {

	position: absolute;
	left: 300px;
	width: calc(100% - 400px);
	padding: 0;
	margin: 0;
	height: 70px;
	top: 100px;
	line-height: 70px;
	font-size: 32px;
	font-family: Muli;

}

h2 {

	position: absolute;
	top: 50px;
	right: 50px;
	text-align: right;
	font-size: 25px;
	padding: 0;
	margin: 0;
	font-family: Muli;

}

div.contact {

	position: absolute;
	left: 300px;
	width: calc(100% - 400px);
	height: 40px;
	top: 170px;

}

div.contact table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	
}

div.contact table td.skype {

	width: 250px;
	text-align: right;

}

div.contact table td.email {

	width: 280px;
	text-align: right;

}

div.content {

	margin-left: 300px;
	padding-top: 250px;
	min-height: 500px;
	width: calc(100% - 400px);

}

h3 {

	color: #205b91;
	font-family: Muli;
	font-size: 28px;
	border-bottom: 2px solid #ccc;
	padding: 4px 0;
	margin: 0;

}

div.sidebar {

	position: absolute;
	left: 50px;
	width: 200px;
	top: 250px;
	min-height: 130px;

}

h4 {
	
	color: #205b91;
	font-family: Muli;
	font-size: 22px;
	padding: 4px 0;
	margin: 0;
	text-align: center;
	padding-top: 30px;

}

li {

	list-style: none;
	width: 100%;
	display: block;
	margin: auto;
	margin-top: 16px;

}

li table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

li table div.box {

	width: 15px;
	height: 15px;
	border: 1px solid #ccc;
	display: block;
	margin: auto;

}

li table td.level {

	width: 20px;

}

li table div.box.on {

	box-shadow: inset 0px 0px 12px 0px rgba(35,77,140,1);

}

p {

	font-size: 17px;
	line-height: 26px;
	text-indent: 10px;

}

div.content li {

	list-style: none;

}

div.content li table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

div.content li table td:first-child {

	font-weight: bold;

}

div.content li table td:last-child {

	text-align: right;

}
