<table class="summary">
<tr>
<td class="title">
<h2>Draw a Cube</h3>
<li>Created on: June 8, 2020</li>
<li>By: Kion</li>
</td>
<td class="code">

    <a href="https://gitlab.com/dashgl/dashie/-/tree/master/08_cube" target="_blank">
        <div class="icon"></div>
        View code on Gitlab
    </a>

</td>
</tr>
</table>

<h3>Summary</h3>

<p>
Now that we hopefully are starting to get a grasp for 2d, let's go ahead and jump forward
into 3d and draw a cube. In order to do this we first define the vertices needed to draw
the cube, and then we also provide a projection matrix needed to look at the cube. The
result of this article is shown below.
</p>

<video class="fig" controls>
	<source type="video/mp4" src="/img/i9zyE0oR_NlvoRlw.mp4"/>
</video>

<p>
In this tutorial we are taking our first steps into 3d. In the previous articles we've
covered the basic syntax on how to bind buffers and make draw calls. So in this article
we will take it one step further and create a 3d context by drawing a cube. This article
has two main objectives that we will need to approach. The first change is that we're
using indices to draw the array, so we will need to look into the syntax for that. And
second is that we need to create the projection matrixes to actually create the appearance
of a 3d context. Let's first get start with the syntax for the indices by looking at the
<span>init_shaders</span> function.
</p>
