<table class="summary">
<tr>
<td class="title">
<h2>Textured Cube</h3>
<li>Created on: June 8, 2020</li>
<li>By: Kion</li>
</td>
<td class="code">

    <a href="https://gitlab.com/dashgl/dashie/-/tree/master/09_texture_cube" target="_blank">
        <div class="icon"></div>
        View code on Gitlab
    </a>

</td>
</tr>
</table>

<h3>Summary</h3>

<p>
Now that we can draw a cube, the next logical step is to apply a texture and make our
cube into a box. In this article we apply (diffuse) uv coordinates to the cube and
change the rotation to rotate across more axis. The resut of this article is shown
below.
</p>

<video controls class="fig">
	<source type="video/mp4" src="/img/NO1RCdKbgJHJUkzh.mp4"/>
</video>
