<table class="summary">
<tr>
<td class="title">
<h2>Render Model</h3>
<li>Created on: June 8, 2020</li>
<li>By: Kion</li>
</td>
<td class="code">

    <a href="https://gitlab.com/dashgl/dashie/-/tree/master/10_dashie" target="_blank">
        <div class="icon"></div>
        View code on Gitlab
    </a>

</td>
</tr>
</table>

<h3>Summary</h3>

<p>
Now that's we've drawn a cube, we'll expand on the previous article and draw something
a little cuter. In this article we use the look at matrix that we defined in the previous
article, and instead of a cube, we will draw the mascot for DashGL, Dashie. The output
of this article is given below.
</p>

<video class="fig" controls>
	<source type="video/mp4" src="/img/-8tHuc1ukh9spUAm.mp4"/>
</video>

<p>
This should appear in a day or so if git pull is working
</p>
